html{
	    background-color: #FFD1DC;
        font-family: 'Open Sans', sans-serif;
	}
h1 {
         text-align:center;
		 margin:0;
	     padding:20px 20px;
		 color:#B19CD9;
   }
h2{  
     font-size: 20px;
}
h3{ font-size:20px;

}
img {
	     display:block;
	     margin:0 auto;
	}
